* {
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    gap: 100px;
    padding: 50px;

}

nav {

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #181818;
    gap: 12px;
    padding: 5px 15px;
    border-radius: 40px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.10);

}

a {
  text-decoration: none;
  font-family: 'Geist', sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

.vl {
  width: 2px;
  height: 16px;
  background-color: #ABABAB;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 600px;
    gap: 40px;
}

.intro {

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

}

h1 { 

  color: #181818;
  font-family: Geist;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 

}

p {

  font-family: 'Inter', sans-serif;
  color: #848484;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 

}

h2 {
  color: #181818;
  font-family: Geist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.resume-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    gap: 20px;
}

.resume-section-bullets {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

h3 {
  color: #181818;
  font-family: Geist;
  font-size: 14px;
  font-style: medium;
  font-weight: 500;
  line-height: 150%;
}

.bullet {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.bullet-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.bullet-title-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.bullet-title-icon img {
    height: 32px;
    width: 32px;
    display: block;
    border-radius: 4px;
}

h2 {
  color: #181818;
  font-family: Geist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

h3 {
  color: #181818;
  font-family: Geist;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

h4 {
  color: #AAAAAA;
  font-family: Geist;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.date * {
  background-color: #FBFBFB;
  border: 1px solid #F4F4F5;
  border-radius: 8px;

  padding: 4px 8px;
  font-size: 12px;
}


/* 
.resume-section {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 50px;
}

.resume-section-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.divider {
    flex: 1;
    height: 1.5px;
    background-color: #dfdfdf;
}

.title-block {
    border-radius: 10px;
    padding: 3px 12px;
    background-color: #F1F2F3;
}

h2 {
  color: #181818;
  font-family: Geist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

h3 {
  color: #AAA;
  font-family: Geist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.resume-subsection {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.resume-subsection-description {
  max-width: 300px;
} */