* {
    margin: 0;
    padding: 0;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: white;
  gap: 100px;
  padding: 50px;

}

nav {

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #181818;
  border-color: #424242;
  gap: 10px;
  padding: 3px 4px;
  border-radius: 8px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.10);

}

.nav-link {
  padding: 2px 6px;
  border-radius: 5px;
}

.nav-link-select {
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #292929;
}

a {
  text-decoration: none;
  font-family: 'Geist', sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

main {

  display: flex;
  flex-direction: column;

  max-width: 675px;
  gap: 100px;

}

h1 {
  text-decoration: none;
  font-family: 'Geist', sans-serif;
  color: #848484;
  font-size: 24px;
  font-weight: 500;
  font-style: medium;
  line-height: 1.5;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recent {

  display: flex;
  flex-direction: row;
  gap: 25px;
}

.recent-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recent-block-bullet {
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 5px 0px;
  align-items: center;

  border-bottom: solid 1px #F4F4F5;
}

.recent-block-bullet-text {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.recent-block-bullet-tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.description {

  display: flex;
  flex-direction: row;
  gap: 25px;

}

p {
  text-decoration: none;
  font-family: 'Geist', sans-serif;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5; 
}

.color-tag {
  width: 9px;
  height: 9px;
  border-radius: 2px;
}

.case-studies {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.case-study {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h3 {
  text-decoration: none;
  font-family: 'Geist', sans-serif;
  color: #181818;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1; 
}

.case-study-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.case-study-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.case-study-links-tags {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.text-tag {
  background-color: #fbfbfb;
  border: 1px solid #F4F4F5;
  padding: 4px 8px;
  border-radius: 8px;
}

.case-study-image {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}