* {
    margin: 0;
    padding: 0;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: white;
  gap: 100px;
  padding: 50px;

}

nav {

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #181818;
  border-color: #424242;
  gap: 10px;
  padding: 3px 4px;
  border-radius: 8px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.10);

}

.nav-link {
  padding: 2px 6px;
  border-radius: 5px;
}

.nav-link-select {
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #292929;
}

a {
  text-decoration: none;
  font-family: 'Geist', sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

main {

  display: flex;
  flex-direction: column;

  max-width: 650px;
  gap: 100px;

}

h1 {
  text-decoration: none;
  font-family: 'Geist', sans-serif;
  color: #848484;
  font-size: 24px;
  font-weight: 500;
  font-style: medium;
  line-height: 1.5;
}