* {
  margin: 0;
  padding: 0;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20px); /* start slightly right */
  }
  100% {
    opacity: 1;
    transform: translateX(0);    /* final position */
  }
}

body {
  background: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 50px;
  gap: 100px;
}

p {
  font-family: 'Inter', sans-serif;
  color: #848484;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

h1 { 
  color: #181818;
  font-family: Geist;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
}

h2 {
  color: #181818;
  font-family: Geist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

nav {
  background: #181818;
  border-radius: 40px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px 15px;
  gap: 12px;

}

a {
  text-decoration: none;
  font-family: 'Geist', sans-serif;
  color: #fcfcfc;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

.vl {
  width: 2px;
  height: 16px;
  background-color: #999999;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 50px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  flex: 1;
  height: 2px;
  background: #DFDFDF;
}

.label {
  background: #F1F2F3;
  padding: 4px 15px; 
  border-radius: 8px;
  margin: 0px 15px;

  font-family: 'Inter', sans-serif;
  color: #848484;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

.sub-section {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.sub-section__descriptor {
  max-width: 300px;
}
/* 
body {
  background: #fff;

  display: flex;
  padding: 50px 0px;
  flex-direction: column;
  align-items: center;
  gap: 100px
}


nav {
  font-family: 'Geist', sans-serif;
  color: #fcfcfc;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;

  border-radius: 40px;
  background: #181818;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);

  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.vl {
  width: 2px;
  height: 16px;
  background-color: #999999;
} */




/* 
body {
  background: #fff;

  display: flex;
  padding: 50px 0px;
  flex-direction: column;
  align-items: center;
  gap: 100px
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.header__hero__line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
}

.header__hero__line__text {
  color: #181818;
  font-family: Geist;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.header__hero__line__profile {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  background: #F9F9FA;
}

.header__hero__line__icon--blue {
  display: flex;
  width: 24px;
  height: 32px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;

  background: #1E63EC;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
}

.header__hero__line__icon--orange {
  display: flex;
  width: 24px;
  height: 32px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;

  background: #FF5C03;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
}


.header__hero__line__photo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transform: rotate(10deg);

  background: #F9F9FA;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.header__hero__line__pill {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  background: #1B9C50;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
}

p {
  margin: 0;
  font-family: 'Geist', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
} 
 */
